/*公共所有的*/

body {
    font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
    color: #333;
    min-width: 1226px;
}

.w {
    width: 1226px;
    margin: 0 auto;
}

.clearfix:after,
.clearfix:before {
    display: table;
    content: "";
    clear: both;

}

a {
    text-decoration: none;
    color: #b0b0b0;
}